.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.flex-item {
    background-color: darkgray;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
/*
flex-start (default): items are packed toward the start line
flex-end: items are packed toward to end line
center: items are centered along the line
space-between: items are evenly distributed in the line; first item is on the start line, last item on the end line
space-around: items are evenly distributed in the line with equal space around them. Note that visually the spaces aren't equal, since all the items have equal space on both sides. The first item will have one unit of space against the container edge, but two units of space between the next item because that next item has its own spacing that applies.
space-evenly: items are distributed so that the spacing between any two items (and the space to the edges) is equal.
*/
.space{
    justify-content: space-between;
}
/*
row (default): left to right in ltr; right to left in rtl
row-reverse: right to left in ltr; left to right in rtl
column: same as row but top to bottom
column-reverse: same as row-reverse but bottom to top
*/
.direction{
    flex-direction: column;
}

/*
nowrap (default): single-line which may cause the container to overflow
wrap: multi-lines, direction is defined by flex-direction
wrap-reverse: multi-lines, opposite to direction defined by flex-direction
*/
.wrap {
    flex-wrap: wrap-reverse;
}
/*
flex-start: cross-start margin edge of the items is placed on the cross-start line
flex-end: cross-end margin edge of the items is placed on the cross-end line
center: items are centered in the cross-axis
baseline: items are aligned such as their baselines align
stretch (default): stretch to fill the container (still respect min-width/max-width)
*/
.align{
    align-items: stretch;
}

.order {
    order:5;
}

.order-small {
    order:-5;
}

.grow-two{
    flex-grow: 2;
}

.align-self{
    align-self: flex-end;
}

/*
[ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
*/
.shorthand{
    flex: 2 0 auto;
}



